{% extends "base.html" %} {% block title %}About{% endblock %} {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1><br>
        About Me
    </h1><br><br>
    <img src="https://www.pngkey.com/png/full/114-1149878_setting-user-avatar-in-specific-size-without-breaking.png" alt="error" style="max-width: 200px; margin-bottom: 10px;">
    <h4>Sravan</h4>
    <br><br>
    <p>Hey..., I am Sravan, I am a aspiring Front End Developer aiming to be a <span>Software Developer</span>, and Talking about my skill's and passion</p></center><hr>
    <div class="main">
    <br><h6><u class="skills">PROGRAMING SKILLS</u></h6><br><li class="python">Python (Intermediat)</li><br>
        <li class="html">Html,css,js (Intermediat)</li><br>
        <li style="position: absolute; right: 62.1rem;">Java (BASICS)</li><br>
        <li style="position: absolute; right: 62.1rem;">PHP (BASICS)</li>
    </ul> 
</div><br><hr><br>
<div>
    <h6><u style="position: relative; left: 7rem;">PASSIONS</u></h6><br>
    <p style="max-width: 700px; text-align: center; margin:auto">I am very much passionate in sports like playing cricket and swimming is most rated sport I would like to choose and I am very Intersted in solving crimes, As my father is a criminal abvocate I read a lot of booking in his room without knowing to him and I love reading more about space as I study about it I keep on imagining things and as of my carrer choice I would like to Choose 3 main thing </p><p style="position: relative; left: 13rem">1.) Space Scientest. <br> 2.) Frontend Developer. <br> 3.) Business.<br></p>
</div><br><hr>
<div class="talk">
    <h6><u style="position: relative; left: 7rem;">Things I Can Talk All Day Long</u></h6><br>
    <p>1.) Space Stuff</p>
    <p>2.) Stocks & Trading</p>
    <p>3.) Criminal Investigation</p>
    <p>4.) Crime Riddles</p>
    <p>5.) Programming</p>
</div>

    
</body>
<style>
    .talk p{
        position: relative;
        left: 13rem;
    }
    .skills{
        position: relative;
        left: 7rem;
    }
    li{
        position: relative;
        right: 25rem;
    }
    .python{
        position: absolute;
        right: 59rem;
    }
    .html{
        position: absolute;
        right: 57.5rem;

    }

</style>
</html>
{% endblock %}